:root{
	--primary: #51AE55;
	--secondary: #71BC75;
	--tertiary: #1f4621;
	--primary-outline: #000;
	--secondary-outline: #000;
	--tertiary-outline: #93CA93;
	--border: #d4ded9;
	--text-color:#2f3432;
}


/* header {
	position: sticky;
	background: var(--primary);
	padding: .5em 0;
	margin-bottom: 1em;
} */
.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.site-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.site-title > * {
	margin-right: 1em;
	color: #ffff;
}

.site-link {
	font-weight: 700;
}

#language-toggle {
	border: 1px solid var(--tertiary-outline);
	padding: 0.2em;
}

/* search bar */
.search-bar {
	display: flex;
	flex-direction: column;
	padding: 0 3em;
	margin: 1.5em 0;
}
.search-bar a {
	margin-bottom: 1.5em;
	background-color: var(--secondary);
	padding: 0.2em 0.5em;
	width: 100%;
	max-width: 8.8em;
	align-self: center;
	border-radius: 25px;
	color: #ffff;
}

.search-field {
	display: flex;
	justify-content: space-between;
	background: #ffff;
	padding: 0.2em 0.2em 0.2em 1em;
	border-radius: 2em;
}
.search-field input {
	width: 90%;
	outline: none;
	border: none;
	font-size: 1em;
}

.search-field button {
	background: var(--secondary);
	border: none;
	outline: none;
	width: 3.5em;
	height: 3.5em;
	border-radius: 1.7em;
	color: var(--tertiary);
	cursor: pointer;
}
/* ====search-bar-zero===== */
.search-bar-zero{
	display: flex;
	flex-direction: column;
	padding: 0 0.5em;
	margin: .8em 0;
}
.search-field-zero {
	display: flex;
	justify-content: space-between;
	background: #ffff;
	padding: 0.2em 0.2em 0.2em 1em;
	border-radius: 2em;
	/* margin: .5em 0em; */
}
.search-field-zero input {
	width: 90%;
	outline: none;
	border: none;
	font-size: 1em;
}

.search-field-zero button {
	background: var(--secondary);
	border: none;
	outline: none;
	width: 3.5em;
	height: 3.5em;
	border-radius: 1.7em;
	color: var(--tertiary);
	cursor: pointer;
}

/* ====search-bar-zero end===== */


/* ====search-field-sm===== */
.search-field-sm {
	display: flex;
	justify-content: space-between;
	background: #ffff;
	padding: 0.2em 0.2em 0.2em 1em;
	border-radius: 2em;
	/* margin: .5em 0em; */
}
.search-field-sm input {
	width: 90%;
	outline: none;
	border: none;
	font-size: 1em;
}

.search-field-sm button {
	background: var(--secondary);
	border: none;
	outline: none;
	width: 3.5em;
	height: 3.5em;
	border-radius: 1.7em;
	color: var(--tertiary);
	cursor: pointer;
}
/* ====search-field-end===== */

/* search-bar end */

/* navigation */

.nav-menu {
	position: absolute;
	left: -100%;
	top: 3em;
	background-color: var(--primary);
	width: 100%;
	height: 100vh;
	transition: 0.5s;
	text-align: center;
}
.nav-menu li {
	margin: 1em;
}
.nav-menu li a {
	color: #ffff;
}
.nav-menu.active {
	left: 0;
}

.hamburger {
	display: block;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
/* navigation end */

/* catagory */
.catagory {
	margin-bottom: 1.5em;
}

.catagory-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
.catagory-title a {
	color: var(--tertiary);
}
.horizontal-menu{
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.horizontal-menu::-webkit-scrollbar{
	display: none;
}
.horizontal-list{
	display: flex;
	flex: 0 0 25%;
}
.horizontal-list a{
	color: #353838;
}
.catagory-list{
	/* margin: 0 1em; */
	/* padding: 0.1em 0em; */
	justify-content: center;
	align-items: center;
	text-align: center;
	/* border: 1px solid #000; */

}
.cat-icon{
	/* border: 1px solid #2F3432; */
	display: flex;
	justify-content: center;
	margin-bottom: 0.8em;
}
.cat-info{
	font-size: 0.8rem;
}
.cat-info p{
	color: #101312;
}
.cat-info span{
	color: #525D5D;
}

/* upsell */
.upsell {
	margin-bottom: 2.5em;
}
.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.row-flex{
	display: flex;
	flex-direction: row;
}
.col-1 {
	display: flex;
	flex-direction: column;
}
.col-2{
	display: flex;
	width:33.33%
}
.upsell-item {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
	padding: 2.5em;
	border-radius: 0.5em;
	box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
}
/* ========
	upsell-second-column
========== */

.upsell-second-type{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
	padding: 2.5em;
	border-radius: 0.5em;
	box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
}

/* ========
	upsell-second-column
========== */
.upsell-icon {
	width: 25%;
	height: 25%;
}
.upsell-title{
	display: flex;
	align-items: center;
}
.upsell-title img{
	width: 20%;
}
.upsell-title h2{
	width: 65%;
	font-size: 1.5em;
	font-weight: 600;
	color: var(--primary);
}
.upsell-title span{
	font-weight: 300;
}

.upsell-info > *{
	color: #525D5D;
	margin: 0.5em 0;
}
.upsell-info h2{
	color: #2F3432;
	font-size: 1.5rem;
}
.upsell-info button{
	border: none;
	background: var(--primary);
	cursor: pointer;
	color: beige;
	padding: 0.7em 1em;
	border-radius: 1.5625em;
	font-weight: 600;
}

/* quick links */
.quick-links {
	padding-bottom: 2.5em;
	border-bottom: 1px solid rgb(212, 222, 217);
}
.quick-links h5{
	margin-bottom: 1em;
}
.quick-links-item{
	margin: 0 1em;
	background: var(--primary);
	padding: 1em;
	border-radius: 0.8em;
	font-size: 0.8rem;
}
.quick-links-info a{
	color:#ffff;
}
.quick-links-info a:not(:last-child){
	padding-right: 0.3em;
	border-right: 1px solid #525D5D;
}

/* ads-container */
.main-container{
	background: #e7f5e2;
	margin-bottom:1em ;
}
.adsHead{
	border-bottom: 1px solid var(--border);
}

.ads-header-block{
	padding: 1em;
	border-right: 1px solid var(--border);
}
.btnZero{
	border: none;
	outline: none;
	background: none;
	font-size: 0.8rem;
	font-weight: 800;
	color: var(--text-color);
	cursor: pointer;
}
.btnZero i{
	color: var(--primary);
	font-size: 1.5rem;
	margin-right: 0.5em;
}

.ads-search{
	display: none;
	/* background: yellow;
	height: 20px; */
}
.ads-filter{
	display: flex;
	justify-content: flex-end;
	color: var(--primary);

}

.sidebar{
	display: none;
	/* background: #1f4621; */
	/* height: 20px; */
}
.main{
	width: 100%;
}
/* card */
.card{
	width: 100%;
	border-bottom: 1px solid var(--border);
}
.card-link{
	color:#000;
}
.card-container{
	display: flex;
	align-items: center;
	padding: 1em .5em;
}
.cardImg{
	margin-right: .5em;
}
.cardInfo{
	width: 100%;
}
.cardTitle{
	color: var(--text-color);
	font-size: 1rem;
	color: var(--text-color);
}
.cardDesc{
	color: #707676;
	font-size: 1rem;
	margin-bottom: .5em;
}
.cardPrice{
	color:var(--tertiary);
	font-size: 0.8rem;
	font-weight: bold;

}
.cardUpdateTime{
	display: flex;
	justify-content: flex-end;
	color: #707676;
}
.featuredCard{
	background: #c7efc5;
	border: 1px solid #33d515;
}


/* pagination */
.pagination{
	display: flex;
	justify-content: space-around;
	margin:1em 0em;
}
.pg-block{
	color: var(--primary);
	font-size: 1rem;
	font-weight: 600;
}

/* signup */
.formContainer{
	padding: 2em;
}
.tabGroup{
	display: flex;
}
.tab{
	display: flex;
	width: 100%;
}
.tab a{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.8em;
	background: #b5eeab;
	color: var(--text-color);
	font-size: 1.2em;
}
.active a{
	background: var(--primary);
	color: #ffff;
}
.authForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid blue; */
	padding: 1em;
}
.authForm h1{
	font-size: 1.5em;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 1em;
}
.formRow{
	display: flex;
	justify-content: space-between;
}
.fieldWrap{
	padding: 0.5em;
	margin: 1em;
}
.bgWhite{
	background: #ffff;
}
.fieldWrap input{
	border:none;
	outline:none;
	font-size: 1em;
	width: 100%;
}
.linkWrap{
	display: flex;
	margin: 1em;
	justify-content: flex-end;
}
.linkWrap a{
	color: var(--primary);
}
.buttonContainer{
	display: flex;
	justify-content: center;
}
.button{
	border: none;
	background: var(--primary);
	cursor: pointer;
}
.button-block{
	color: #ffff;
	font-size: 1em;
	font-weight: 500;
	padding:1em 10.5em
}


/* signup end */

/* publish ad */
.publishContainer{
	padding: 1.5em;
}
.publishContainer h1{
	font-size: 1.2em;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 1em;
	text-align: center;
}
.textArea{
	border: none;
	outline: none;
	width: 100%;

}
.textArea::placeholder{
	font-size: 1.3em;
}
.dropdownBlock{
	/* background: #1f4621; */
	display: flex;
}
.dropdownLabel{
	width: 40%;
	color: var(--text-color);
	font-size: 0.8em;
	font-weight: 600;
}
.options{
	width:30%;
	border: var(--primary);
	background: var(--secondary);
	font-size: 0.8em;
	color: #ffff;
	outline: #33d515;
}

/* publish ads end */

/* item */
.itemHeader h2{
	font-size: 1.5em;
	color: var(--text-color);
}
.itemHeader p{
	color: #525D5D;
}
.itemContainer{
	padding: 2em;
}
.itemBody{
	justify-content: center;
	/* align-items: center; */
}
.itemImgContainer{
	width: 100%;
}
.itemBlock{
	margin:1em 0
}
.itemPrice{
	color: var(--tertiary);
	font-size: 1.2em;
	font-weight: 700;

}
.itemInfo{
	display: flex;
	justify-content: space-between;
	
}
.textColor{
	color:var(--text-color)
}
/* footer */
footer{
	background: #ffff;
}
.footer-cont {
	padding: 3em 0;
	text-align: center;
	background: white;
}
.footer-border{
	border-top:2px solid var(--tertiary)
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.nav-menu {
		position: initial;
		display: flex;
		background-color: initial;
		align-items: center;
		height: initial;
	}
	.nav-menu li {
		list-style: none;
		margin-left: 1em;
	}
	.nav-menu li a {
		color: #ffff;
	}
	/* search-bar-zero*/

	.search-bar-zero{display: none;}

	/* catagory */
	.catagory-title a{
		display: none;
	}
	.horizontal-menu{
		display: flex;
		overflow-x: initial;
		scroll-snap-type: initial;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	.horizontal-list{
		display: initial;
		flex-direction: initial;
		flex: initial;
		justify-content: space-between;
	}
	.catagory-menu{
		padding-left: 2.5em;
	}
	.catagory-list{
		/* border: 1px solid black; */
		padding: 0.5em;
		margin: 0.5em 1em;
		width: 16%;
		text-align: left;
	}
	.catagory-list a{
		display: flex;
	}
	.cat-icon{
		margin-right: 1em;
	}
	.cat-info p{
		font-size: 1rem;
		line-height: 1.7rem;
	}
	/* upsell */
	.row {
		flex-direction: row;
		/* justify-content: none; */
	}
	.col-1{
		width: 67.33%;
	}
	.col-2{
		width:33.333%
	}
	
	.upsell-cont {
		border-radius: none;
		box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
	}
	.upsell-item {
		flex-direction: row;
		justify-content: space-between;
		margin: 0em 0em;
		box-shadow: none;
	}
	.upsell-second-type{
		margin: 0em 0em;
		box-shadow: none;
	}
	.upsell-item:first-child {
		border-right: 1px solid rgb(0 0 0 / 10%);
	}
	.upsell-icon {
		width: 25%;
		height: 50%;
	}
	.upsell-info{
		width: 70%;
		text-align: left;
	}
	/* quick links */
	.quick-links-menu{
		display: flex;
		overflow-x: initial;
		scroll-snap-type: initial;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}
	.quick-links-menu::-webkit-scrollbar{
		display: initial;
	}
	.quick-links-item{
		display: initial;
		flex-direction: initial;
		flex: initial;
		justify-content: space-between;
		padding: 1em;
		border-radius: 0.8em;
		width: 18%;
	}
	/* ads  */
	.ads-loc{
		background: red;
		height: 20px;
	}
	.ads-cat{
		background: green;
		height: 20px;
	}
	.ads-search{
		background: yellow;
		height: 20px;
	}
	.sidebar{
		display: flex;
		flex-direction: column;
		/* margin: 1em 0.5em; */
		border-right: 1px solid var(--border);
		/* background: yellow; */
		/* height: 10px; */
	}
	.ads-filter-block{
		display: flex;
		flex-direction: column;
		/* background: #51AE55; */
		margin: 1em 1em 0em 1em ;
		padding-bottom: 1.5em;
		border-bottom: 1px solid var(--border);
	}
	.ads-label{
		margin-bottom: 1em;
	}
	/* publish ads */
	.dropdownLabel{
		width: 30%;
	}
	/* item */
	.itemImgContainer{
		width: 100%;
	}
	.itemImgContainer img{
		width: 100%;
	}
	.itemMain{
		width:80%;
		border-right: 1px solid var(--border);
	}
	.itemSidebar{
		
		width:20%;
		padding-left: 1em;
		/* background: rgb(245, 220, 139); */
	}
}
